* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
  }
  nav {
      list-style-type: style none;;
      padding: 1.8rem;
      width: 100%;
      height: 80px;
      font-size: 1.4rem;
      display: inline-block;
      align-items:flex-end;
      flex-wrap: wrap;
  }
  /* body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  } */

  /* float: inline-end;
  position:absolute; */